.checkoutproduct{
    display: flex;
    flex-direction: row;
padding-top: 20px;
padding-bottom: 20px;
padding-left:30px ;
    height: 200px;
    background-color: white;
    width: 100%;
     max-width: 500px;
    min-width: 100px;
    max-height: 400px;
   

  
}
.checkoutproduct >img{
    height: 100%;
 
    min-width: 170px;
    /* width: 100%; */
    margin-bottom: 15px;
}
.items{
    background-color: white;
    width: 100%;
    height: max-content;
}
.product_info{
    padding-left:20px ;
    margin: 0;
}
.product_info > button{
    background-color: #f0c14b;
    font-weight: 500;
    font-size: 12px;
    color: black;
    margin-bottom: 3px;
    border-radius: 3px;
    border: 1px solid;
    border-color:#f0c14b#f0c14b#f0c14b ;
    margin-top: 10px;

}
@media screen and (max-width: 600px) {
    .checkoutproduct {
      width: 320px;
      background-color: rgb(255, 254, 254);
    }
    
}
