.subtotal{
  display: flex;
  flex-direction: column;
    width: 270px;
    min-width: 150px;
   border-radius: 5px;
  
   justify-content: space-between;
   
    margin-left:2px;
    overflow: hidden;
   
   padding: 20px;
    background-color: rgb(221, 221, 221);
}
.text{
    margin-top: 10px;
    
    font-weight: 600;
    font-size: 20px;
   
}
.text1{
   font-size: 15px;
   font-weight: 400;
   
}
.btn{
    background-color:#cd9042 ;
    padding: 10px;
    border: none;
    outline:none;
    border-radius: 4px;

}
/* @media screen and (max-width: 500px) {
    .subtotal {
      width: 200px;
     
    }
    
} */